@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/OpenSans/OpenSans-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/OpenSans/OpenSans-Light.ttf") format("ttf");
  font-display: swap;
}


