.page {
  height: 100%; //Нам нужно, чтобы размер тега <html> равнялся размеру окна браузера.
}
.page-body {
  margin: 0; //Во всех браузерах у тега <body> задан margin, который нам и надо сбросить.
  display: flex;//Теперь body есть flex контейнер.
  flex-direction: column;//Повернём главную ось, чтобы блоки распологались сверху вниз.
                         //Сейчас тег <body> по высоте принимает размеры содержимого.
                         //Нам нужно, чтобы блок заполнил полностью всё содержимое браузера.
  min-height: 100%;//Выставим размер <body> равным размеру тега <html>, который равен размеру окна браузера.
}
  //Чтобы блок <main> занял полностью всё пространство, добавим на него класс main-container.
.page-main {
  flex-grow: 1;//Сделаем блок .main-container жадным и повесим свойство flex-grow: 1;.
}

